## 1. Introduction
<p><img src="https://assets.datacamp.com/production/project_1197/img/google_play_store.png" alt="Google Play logo"></p>
<p>Mobile apps are everywhere. They are easy to create and can be very lucrative from the business standpoint. Specifically, Android is expanding as an operating system and has captured more than 74% of the total market<sup><a href="https://www.statista.com/statistics/272698/global-market-share-held-by-mobile-operating-systems-since-2009">[1]</a></sup>. </p>
<p>The Google Play Store apps data has enormous potential to facilitate data-driven decisions and insights for businesses. In this notebook, we will analyze the Android app market by comparing ~10k apps in Google Play across different categories. We will also use the user reviews to draw a qualitative comparision between the apps.</p>
<p>The dataset you will use here was scraped from Google Play Store in September 2018 and was published on <a href="https://www.kaggle.com/lava18/google-play-store-apps">Kaggle</a>. Here are the details: <br>
<br></p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/apps.csv</b></div>
This file contains all the details of the apps on Google Play. There are 9 features that describe a given app.
<ul>
    <li><b>App:</b> Name of the app</li>
    <li><b>Category:</b> Category of the app. Some examples are: ART_AND_DESIGN, FINANCE, COMICS, BEAUTY etc.</li>
    <li><b>Rating:</b> The current average rating (out of 5) of the app on Google Play</li>
    <li><b>Reviews:</b> Number of user reviews given on the app</li>
    <li><b>Size:</b> Size of the app in MB (megabytes)</li>
    <li><b>Installs:</b> Number of times the app was downloaded from Google Play</li>
    <li><b>Type:</b> Whether the app is paid or free</li>
    <li><b>Price:</b> Price of the app in US$</li>
    <li><b>Last Updated:</b> Date on which the app was last updated on Google Play </li>

</ul>
</div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/user_reviews.csv</b></div>
This file contains a random sample of 100 <i>[most helpful first](https://www.androidpolice.com/2019/01/21/google-play-stores-redesigned-ratings-and-reviews-section-lets-you-easily-filter-by-star-rating/)</i> user reviews for each app. The text in each review has been pre-processed and passed through a sentiment analyzer.
<ul>
    <li><b>App:</b> Name of the app on which the user review was provided. Matches the `App` column of the `apps.csv` file</li>
    <li><b>Review:</b> The pre-processed user review text</li>
    <li><b>Sentiment Category:</b> Sentiment category of the user review - Positive, Negative or Neutral</li>
    <li><b>Sentiment Score:</b> Sentiment score of the user review. It lies between [-1,1]. A higher score denotes a more positive sentiment.</li>

</ul>
</div>
<p>From here on, it will be your task to explore and manipulate the data until you are able to answer the three questions described in the instructions panel.<br></p>

In [1]:
# Use this cell to begin your analysis, and add as many as you would like!

import pandas as pd
import numpy as np

# Question 1:

In [2]:
apps = pd.read_csv('./datasets/apps.csv')
apps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0.0,"January 7, 2018"
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0.0,"January 15, 2018"
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0.0,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0.0,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0.0,"June 20, 2018"

In [12]:
apps.describe()

            Rating       Reviews         Size      Installs        Price
count  8196.000000  9.659000e+03  8432.000000  9.659000e+03  9659.000000
mean      4.173243  2.165926e+05    20.395327  7.777507e+06     1.099299
std       0.536625  1.831320e+06    21.827509  5.375828e+07    16.852152
min       1.000000  0.000000e+00     0.000000  0.000000e+00     0.000000
25%       4.000000  2.500000e+01     4.600000  1.000000e+03     0.000000
50%       4.300000  9.670000e+02    12.000000  1.000000e+05     0.000000
75%       4.500000  2.940100e+04    28.000000  1.000000e+06     0.000000
max       5.000000  7.815831e+07   100.000000  1.000000e+09   400.000000

In [3]:
apps['Installs'].dtype

dtype('O')

In [4]:
apps['Installs'] = apps['Installs'].apply(lambda x: x.replace(',', ''))
apps['Installs'] = apps['Installs'].apply(lambda x: x.replace('+', ''))
apps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,"January 7, 2018"
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,"January 15, 2018"
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,"June 20, 2018"

In [5]:
apps['Installs'] = apps['Installs'].astype('int64')
apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9659 entries, 0 to 9658
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   App           9659 non-null   object
 1   Category      9659 non-null   object
 2   Rating        8196 non-null   float64
 3   Reviews       9659 non-null   int64
 4   Size          8432 non-null   float64
 5   Installs      9659 non-null   int64
 6   Type          9659 non-null   object
 7   Price         9659 non-null   float64
 8   Last Updated  9659 non-null   object
dtypes: float64(3), int64(2), object(4)
memory usage: 679.3+ KB

# Question 2:

In [9]:
app_category_info = apps.groupby('Category', as_index=False).agg({'App': 'count', 'Price': 'mean', 'Rating': 'mean'})
app_category_info

               Category   App     Price    Rating
0        ART_AND_DESIGN    64  0.093281  4.357377
1     AUTO_AND_VEHICLES    85  0.158471  4.190411
2                BEAUTY    53  0.000000  4.278571
3   BOOKS_AND_REFERENCE   222  0.539505  4.344970
4              BUSINESS   420  0.417357  4.098479
5                COMICS    56  0.000000  4.181481
6         COMMUNICATION   315  0.263937  4.121484
7                DATING   171  0.160468  3.970149
8             EDUCATION   119  0.150924  4.364407
9         ENTERTAINMENT   102  0.078235  4.135294
10               EVENTS    64  1.718594  4.435556
11               FAMILY  1832  1.309967  4.179664
12              FINANCE   345  8.408203  4.115563
13       FOOD_AND_DRINK   112  0.075714  4.172340
14                 GAME   959  0.296465  4.247368
15   HEALTH_AND_FITNESS   288  0.223438  4.243033
16       HOUSE_AND_HOME    74  0.000000  4.150000
17   LIBRARIES_AND_DEMO    84  0.011786  4.178125
18            LIFESTYLE   369  6.398022  4.093355
19  MAPS_AND_NAVIGATION   131  0.205725  4.036441
20              MEDICAL   395  2.520759  4.166552
21   NEWS_AND_MAGAZINES   254  0.015669  4.121569
22            PARENTING    60  0.159667  4.300000
23      PERSONALIZATION   376  0.400213  4.332215
24          PHOTOGRAPHY   281  0.420925  4.157414
25         PRODUCTIVITY   374  0.670936  4.183389
26             SHOPPING   202  0.027129  4.230000
27               SOCIAL   239  0.066820  4.247291
28               SPORTS   325  0.307692  4.216154
29                TOOLS   827  0.323156  4.039554
30     TRAVEL_AND_LOCAL   219  0.228082  4.069519
31        VIDEO_PLAYERS   163  0.064172  4.044595
32              WEATHER    79  0.410380  4.243056

In [10]:
app_category_info.rename(columns={'App': 'Number of apps', 'Price': 'Average price', 'Rating': 'Average rating'},
                         inplace=True)
app_category_info

               Category  Number of apps  Average price  Average rating
0        ART_AND_DESIGN              64       0.093281        4.357377
1     AUTO_AND_VEHICLES              85       0.158471        4.190411
2                BEAUTY              53       0.000000        4.278571
3   BOOKS_AND_REFERENCE             222       0.539505        4.344970
4              BUSINESS             420       0.417357        4.098479
5                COMICS              56       0.000000        4.181481
6         COMMUNICATION             315       0.263937        4.121484
7                DATING             171       0.160468        3.970149
8             EDUCATION             119       0.150924        4.364407
9         ENTERTAINMENT             102       0.078235        4.135294
10               EVENTS              64       1.718594        4.435556
11               FAMILY            1832       1.309967        4.179664
12              FINANCE             345       8.408203        4.115563
13       FOOD_AND_DRINK             112       0.075714        4.172340
14                 GAME             959       0.296465        4.247368
15   HEALTH_AND_FITNESS             288       0.223438        4.243033
16       HOUSE_AND_HOME              74       0.000000        4.150000
17   LIBRARIES_AND_DEMO              84       0.011786        4.178125
18            LIFESTYLE             369       6.398022        4.093355
19  MAPS_AND_NAVIGATION             131       0.205725        4.036441
20              MEDICAL             395       2.520759        4.166552
21   NEWS_AND_MAGAZINES             254       0.015669        4.121569
22            PARENTING              60       0.159667        4.300000
23      PERSONALIZATION             376       0.400213        4.332215
24          PHOTOGRAPHY             281       0.420925        4.157414
25         PRODUCTIVITY             374       0.670936        4.183389
26             SHOPPING             202       0.027129        4.230000
27               SOCIAL             239       0.066820        4.247291
28               SPORTS             325       0.307692        4.216154
29                TOOLS             827       0.323156        4.039554
30     TRAVEL_AND_LOCAL             219       0.228082        4.069519
31        VIDEO_PLAYERS             163       0.064172        4.044595
32              WEATHER              79       0.410380        4.243056

# Question 3:

In [11]:
reviews = pd.read_csv('./Datasets/user_reviews.csv')
reviews.head()

,App,Review,Sentiment Category,Sentiment Score
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25
2,10 Best Foods for You,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40
4,10 Best Foods for You,Best idea us,Positive,1.00

In [13]:
reviews.describe(include='all')

                        App Review Sentiment Category  Sentiment Score
count                 64295  37427              37432     37432.000000
unique                 1074  27994                  3              NaN
top     Angry Birds Classic   Good           Positive              NaN
freq                    320    247              23998              NaN
mean                    NaN    NaN                NaN         0.182146
std                     NaN    NaN                NaN         0.351301
min                     NaN    NaN                NaN        -1.000000
25%                     NaN    NaN                NaN         0.000000
50%                     NaN    NaN                NaN         0.150000
75%                     NaN    NaN                NaN         0.400000
max                     NaN    NaN                NaN         1.000000

In [15]:
finance_free_app = apps[(apps['Category'] == 'FINANCE') & (apps['Type'] == 'Free')]
finance_free_app

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
837,K PLUS,FINANCE,4.4,124424,NaN,10000000,Free,0.0,"June 26, 2018"
838,ING Banking,FINANCE,4.4,39041,NaN,1000000,Free,0.0,"August 3, 2018"
839,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018"
840,The postal bank,FINANCE,3.7,36718,NaN,5000000,Free,0.0,"July 16, 2018"
841,KTB Netbank,FINANCE,3.8,42644,19.0,5000000,Free,0.0,"June 28, 2018"
...,...,...,...,...,...,...,...,...,...
9540,BankNordik,FINANCE,3.9,28,15.0,5000,Free,0.0,"August 8, 2018"
9564,FP Markets,FINANCE,NaN,1,2.0,100,Free,0.0,"January 30, 2018"
9565,FP Boss,FINANCE,NaN,1,5.8,1,Free,0.0,"July 27, 2018"
9572,FP FCU,FINANCE,3.6,48,26.0,5000,Free,0.0,"April 5, 2018"
9636,Gold Quote - Gold.fr,FINANCE,NaN,96,1.5,10000,Free,0.0,"May 19, 2016"

In [23]:
user_feedback = pd.merge(finance_free_app, reviews, on = 'App')
user_feedback = user_feedback.groupby('App', as_index=False).agg({'Sentiment Score': 'mean'})
top_10_user_feedback = user_feedback.sort_values(by = 'Sentiment Score', ascending= False).reset_index(drop = True).head(10)
top_10_user_feedback

                                          App  Sentiment Score
0                                  BBVA Spain         0.515086
1              Associated Credit Union Mobile         0.388093
2                         BankMobile Vibe App         0.353455
3                                   A+ Mobile         0.329592
4   Current debit card and app made for teens         0.327258
5                              BZWBK24 mobile         0.326883
6  Even - organize your money, get paid early         0.283929
7                                Credit Karma         0.270052
8                Fortune City - A Finance App         0.266966
9                                      Branch         0.264230